
<ion-header>
  <ion-toolbar color="new">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="map"></div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar >
   <ion-button color="new" expand="block" (click)="infVeiculo($event)">Informacion Del Vehiculo</ion-button>
   <ion-button color="new" expand="block" (click)="infConductor($event)">Informacion Del Conductor </ion-button>
  </ion-toolbar>
</ion-footer>
