#login{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#titulo{
    text-align: center;
    font-weight: bold;
}

#boton{
    margin-left: 100px;
    margin-right: 100px;
}

#btnFacebook{
    margin-left: 40px;
    margin-right: 40px;
}

#btnGoogle{
    margin-left: 40px;
    margin-right: 40px;
}