<ion-avatar >
  <img src="/assets/icon/logoVita.jpeg">
</ion-avatar>

<ion-item lines="none" id="titulo">
  <ion-label>Vehiculo</ion-label>
</ion-item>
<ion-item lines="none">
  <ion-label>Placa: {{vehiculo.placa}}</ion-label>
</ion-item>
<ion-item lines="none">
  <ion-label>Total De Asientos: {{vehiculo.asientos_totales}}</ion-label>
</ion-item>
<ion-item class="ion-text-wrap" lines="none">
  <p>Asientos Ocupados: {{vehiculo.asientos_ocupados}}</p>
</ion-item>
<ion-item class="ion-text-wrap" lines="none">
  <p>Asientos Disponibles: {{vehiculo.asientos_desocupados}}</p>
</ion-item>
<ion-item lines="none">
  <ion-label>Estado: {{vehiculo.estado}}</ion-label>
</ion-item>
<ion-item lines="none">
  <ion-checkbox color="new" checked="{{subir}}"(ionChange)="check($event)"></ion-checkbox>
  <ion-label>¿Vas a subir?</ion-label>
</ion-item>

